# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data
/.emacs.efs/org-roam.db
/.emacs.efs/bookmarks
/.emacs.efs/eshell/
/.emacs.efs/transient/
/.emacs.efs/.cache/
/.emacs.efs/.lsp-session-v1
/.local/share/.DS_Store
/.emacs.efs/.mc-lists.el
/.emacs.efs/.org-jira/
/.emacs.efs/request/
/.local/share/fonts/.uuid
/.config/zsh/.zsh_history
/.config/zsh/.zsh_sessions/
